.exportpage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--body-background);
    z-index: 1111;
    transform: translateX(100%);
    transition: 0.4s all ease;
}
.exportpage.active{
    transform: translateX(0%);
    transition: 0.4s all ease;
}
.backbtnar{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    height: 3rem;
    justify-content: flex-end;
}

.backBtn{
    margin-right: 0rem;
    color: var(--font-col);
    height: 2rem;
    width: 4.7rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--font-col);
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.backBtn:active{
    background-color: rgb(119, 119, 119);
    transform: scale(0.97);
}

.allboxes{
    color: var(--info-text);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 98vh;
    text-align: justify;
}
.box{
    flex: 1;
    border: 2px solid orange;
    border-radius: 15px;
    margin: 3rem;
    height: 70%;
    display: flex;
    flex-direction: column;
}
p{
    margin: 5rem;
}
.butn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butn button{
    outline: none;
    background-color: inherit;
    border: black solid 2px ;
    background-color: rgb(0, 136, 214);
    border-radius: 5px;
    color: rgb(255, 253, 253);
    height: 3.5rem;
    width: 14rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.butn button:active{
    background-color: rgb(2, 109, 170);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.97);
}

.inputFile{
    display: none;
}


@media screen and (max-width:930px){
    .allboxes{
        flex-direction: column;
        justify-content: center;
        height: 85vh;
        
    }
    .box{
        width: auto;
        height: fit-content;
        margin: 1rem;
    }
    p{
        margin: 2rem;
    }
    .butn{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}