@import '../App.css';

@media screen and (min-width:1109px)  {
    .item{
        flex: 0.25;
        min-height: 96%;
        max-height: 96%;
        background-color: var(--body-background);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width:1110px)  {
    .item{
        flex: 1;
        height: 100%;
        background-color: var(--body-background);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}